.center {
	margin:0 auto;
	max-width: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    color: black;
}

body {
	background-image: url(background_1.jpg);
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-custom {
  background-color: white;
  background-repeat: no-repeat;
  font-family: sans-serif;
  position: ;
}