<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>

    <link rel="stylesheet" href="/static/css/style.css" />

    <title>EECS485</title>
    <meta name="keywords" content="album, albums, picture, pictures, UMich, project1, m&ms, etc.">
    <meta name="description" content="official online album website of the University of Michigan."> 
</head>
<body>
  <div class="center">
    {% block content %}{% endblock %}
  </div>
  <script type="text/javascript" src="/static/js/main.js"></script>
  <footer>
  <p><strong>University of Michigan</strong></p>
  <p>Electrical Eingineering and Computer Science</p>
  <p>Course 485: <a href="https://drive.google.com/drive/folders/0B4qlH840ZwikYWhjaXFWVmJPUWc">
  Course Home Page</a></p>
</footer>
</body>

</html>